@import url(http://fonts.googleapis.com/css?family=Coustard:400,900);
/*******************************************
                COLOURS
*******************************************/
/*******************************************
                GENERAL
*******************************************/
/* line 19, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
body {
  background: #1a003b;
  color: #adadad;
  font-family: 'Coustard', serif; }

/* line 25, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
#container {
  max-width: 960px;
  margin: auto;
  padding: 20px;
  margin-top: 60px;
  min-width: 380px; }

/* line 33, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
section {
  display: block;
  padding: 10px; }

/* line 39, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
h1 {
  font-weight: bold;
  margin: 0; }

/* line 44, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
h3 {
  text-align: center;
  font-family: inherit; }

/* line 49, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
h4 {
  font-family: inherit; }

/* line 53, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
a {
  color: #adadad; }

/* line 56, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
a:hover {
  text-decoration: none;
  color: #cbcccf; }

/* line 61, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
footer {
  text-align: center;
  font-family: inherit; }

/*******************************************
                NAV
*******************************************/
/* line 71, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
.navbar {
  background-color: #1a003b;
  height: 40px;
  border: none;
  padding-top: 5px; }
  /* line 79, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  .navbar .container {
    margin: auto; }
  /* line 83, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  .navbar #nav_name {
    font-size: 3em; }
  /* line 87, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  .navbar .navbar-nav {
    float: right; }

/* line 91, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #adadad;
  font-size: 1.7em; }

/* line 96, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #cbcccf; }

/*******************************************
                ABOUT
*******************************************/
/* line 105, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
#about {
  color: black;
  background-color: #939494;
  margin-top: 20px;
  padding-bottom: 40px; }
  /* line 111, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #about h3 {
    margin-top: 50px; }
  /* line 115, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #about .me {
    text-align: center; }
    /* line 118, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
    #about .me #portrait {
      height: 200px;
      margin-left: auto; }
    /* line 122, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
    #about .me p {
      font-size: 1.3em;
      font-family: inherit; }
  /* line 128, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #about .about {
    padding: 0 30px; }
    /* line 131, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
    #about .about p {
      font-size: 1.3em;
      text-align: justify;
      text-indent: 3em; }
  /* line 140, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #about .toolbox .li_box {
    background-color: white;
    border: 5px solid #21004a;
    width: 194px;
    padding: 10px;
    margin: auto; }
    /* line 147, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
    #about .toolbox .li_box .language_icons {
      max-width: 75px;
      max-height: 75px;
      margin: 3px; }

/*******************************************
                WORK
*******************************************/
/* line 163, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
#work {
  background-color: #353635;
  color: #adadad;
  padding-bottom: 40px; }
  /* line 169, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #work h3 {
    margin-top: 50px;
    font-family: inherit; }
  /* line 174, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #work .single_work {
    display: block;
    text-align: center; }
    /* line 178, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
    #work .single_work .work_image img {
      border: 5px solid #21004a;
      padding: 2px; }
    /* line 183, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
    #work .single_work .work_text {
      margin-top: 50px; }
      /* line 186, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
      #work .single_work .work_text a {
        color: #adadad; }
      /* line 189, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
      #work .single_work .work_text a:hover {
        color: #cbcccf; }
      /* line 192, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
      #work .single_work .work_text p {
        font-size: 1.3em; }

/*******************************************
                CONTACT
*******************************************/
/* line 204, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
#contact {
  color: black;
  background-color: #939494;
  text-align: center; }
  /* line 209, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #contact h3 {
    margin-top: 50px; }
  /* line 214, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #contact h4 {
    padding-top: 40px; }
  /* line 222, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #contact .social_icons a img {
    margin: 20px 10px 70px 10px; }
  /* line 225, /Users/corinne2/Projects/portfolio/source/css/portfolio.css.scss */
  #contact .social_icons a img:hover {
    border: 3px solid #21004a; }
